<div class="bg-image">
    <div class="container" fxLayout>
        <section id="content" class="content" fxLayout="column" fxLayoutAlign="space-evenly start">
            
            <div class="title">
                <h5>
                    ¿Necesitas
                </h5>
                <h3>
                    Ayuda?
                </h3>
            </div>

            
            <div class="texto">
                Kai fue creado con un propósito: solucionar la brecha entre la necesidad y el cuidado de salud mental. Buscamos conectar 
                más personas con más profesionales de una forma eficaz, asequible y empática.
            </div>

            <button class="btn p-2" mat-flat-button color="primary" (click)="openDialog()">
                Subscríbete
            </button>

            <button class="btn p-2" mat-flat-button color="primary" (click)="goToBooktype()">
                Reservar
            </button>
        </section>
    </div>
</div>