<div class="bg-image">
    <div class="container" fxLayout>
        <section id="content" fxLayout="column" fxLayoutAlign="space-evenly center">
            <img class="banner" src="../../assets/images/muy_pronto.png">

            <img class="logo" src="../../assets/images/logo_blanco.png" alt="kai_logo">

            <button mat-flat-button color="primary">
                Subscríbete
            </button>

            <button mat-flat-button color="primary">
                <a routerLink="/booktype">Agenda</a>
            </button>
        </section>
    </div>
</div>